@model IEnumerable<Pharmasuit.Models.Product>

@{
    ViewData["Title"] = "Homepage";
}

<h2>Welcome to Pharmasuit</h2>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@product.ImageURL" class="card-img-top" alt="@product.Name" />
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: @product.Price.ToString("C")</p>
                    <a href="/Cart/AddToCart/@product.Id" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>
